---
const currentPage = Astro.url.pathname;

const jegyzokonyvek = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11];

const options = jegyzokonyvek.map((jegyzokonyv) => {
    return {
        value: jegyzokonyv,
        href: `${import.meta.env.BASE_URL}/jegyzokonyv-${jegyzokonyv}`,
        selected: currentPage.endsWith(`jegyzokonyv-${jegyzokonyv}`) || currentPage.endsWith(`jegyzokonyv-${jegyzokonyv}/`),
    };
});

const noneSelected = options.every((option) => !option.selected);
---

<nav class="navbar bg-base-100">
    <div class="navbar-start">
        <div class="dropdown">
            <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    ><path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M4 6h16M4 12h8m-8 6h16"></path></svg
                >
            </div>
            <ul
                tabindex="0"
                class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
            >
                <li>
                    <a
                        href={import.meta.env.BASE_URL + "/"}
                        class:list={{ active: noneSelected }}>Főoldal</a>
                </li>
                <li>
                    <a>Jegyzőkönyvek</a>
                    <ul class="p-2">
                        {
                            options.map((jegyzokonyv) => (
                                <li>
                                    <a
                                        class:list={{
                                            active: jegyzokonyv.selected,
                                        }}
                                        href={jegyzokonyv.href}
                                    >
                                        {jegyzokonyv.value}
                                    </a>
                                </li>
                            ))
                        }
                    </ul>
                </li>
            </ul>
        </div>
        <a class="btn btn-ghost text-xl">Digitális labor (FBN609L) jegyzőkönyvek</a>
    </div>
    <div class="navbar-center"></div>
    <div class="navbar-end hidden lg:flex">
        <ul class="menu menu-horizontal px-1">
            <li>
                <a
                    href={import.meta.env.BASE_URL + "/"}
                    class:list={{ active: noneSelected }}>Főoldal</a>
            </li>
            <li>
                <details>
                    <summary>Jegyzőkönyvek</summary>
                    <ul class="p-2 z-50">
                        {
                            options.map((jegyzokonyv) => (
                                <li>
                                    <a
                                        class:list={{
                                            active: jegyzokonyv.selected,
                                        }}
                                        href={jegyzokonyv.href}
                                    >
                                        {jegyzokonyv.value}.{" "}
                                    </a>
                                </li>
                            ))
                        }
                    </ul>
                </details>
            </li>
        </ul>
    </div>
</nav>

<style>
    @media print {
        nav {
            display: none;
        }
    }
</style>